[submodule "YTSubConverter"]
	path = YTSubConverter
	url = https://github.com/arcusmaximus/YTSubConverter
[submodule "bgutil-ytdlp-pot-provider-rs"]
	path = bgutil-ytdlp-pot-provider-rs
	url = https://github.com/jim60105/bgutil-ytdlp-pot-provider-rs
